/* resetting image rules that crept in from bootstrap */
svg, img {
  vertical-align: inherit !important;
}

/* resetting code rules that came from bootstrap */
code {
    color: inherit !important;
    word-break: inherit !important;
}

@media only percy {
  .sidebar nav.toc-container {
    margin-top: 0 !important;
  }
}

/* HACK: quick hack as per: https://github.com/ember-learn/guides-source/issues/611
   to hide edit page pencil link and the search bar globally. */
a.edit-page, #search-input {
  display: none;
}

/**
 * HACK: Removing the version dropdown temporarily for Octane. Remove this
 * before merging into master
 */

.sidebar nav.toc-container {
  margin-top: 0;
}

.sidebar .ember-basic-dropdown {
  display: none;
}

.toc-container.versions {
  border-top: 0;
}
