name: CI

on:
  push:
    branches:
      - master
  pull_request:

env:
  NODE_VERSION: 14
  NODE_OPTIONS: "--max_old_space_size=4096"

jobs:
  lint:
    name: Lint files
    runs-on: ubuntu-latest
    timeout-minutes: 7
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          cache: 'npm'
          node-version: ${{ env.NODE_VERSION }}

      - run: npm i -g npm@9
      - run: npm ci

      - name: Lint
        run: npm run lint


  test-app:
    name: Test app
    runs-on: ubuntu-latest
    timeout-minutes: 7
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          cache: 'npm'
          node-version: ${{ env.NODE_VERSION }}

      - run: npm i -g npm@9
      - run: npm ci

      - name: Test
        uses: percy/exec-action@v0.3.1
        with:
          custom-command: npm run test:ember
        env:
          PERCY_TOKEN: 877df6aad8486060f69a34864b6cd33f870633743b23411343737c46a875a762


  test-node:
    name: Test node-tests
    runs-on: ubuntu-latest
    timeout-minutes: 7
    steps:
      - name: Check out a copy of the repo
        uses: actions/checkout@v2

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v2
        with:
          cache: 'npm'
          node-version: ${{ env.NODE_VERSION }}

      - run: npm i -g npm@9
      - run: npm ci

      - name: Test
        run: npm run test:node
